body {
  background-color: rgb(96, 189, 206);
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 2rem 0;
}

.container, .search-box {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
